<plugin name='fixtures' version='0.7.1' grailsVersion='1.1 &gt; *'>
  <author>Luke Daley</author>
  <authorEmail>ld@ldaley.com</authorEmail>
  <title>fixtures</title>
  <description>Allows loading of data sets defined with the BeanBuilder DSL</description>
  <documentation>http://grails.org/Fixtures+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>Child</resource>
    <resource>com.book.Author</resource>
    <resource>com.book.Book</resource>
    <resource>Comment</resource>
    <resource>Grandparent</resource>
    <resource>Parent</resource>
    <resource>Post</resource>
    <resource>Uncle</resource>
  </resources>
  <dependencies />
</plugin>