<plugin name='fixtures' version='0.7-RC1' grailsVersion='1.1 &gt; *'>
  <author>Luke Daley</author>
  <authorEmail>ld@ldaley.com</authorEmail>
  <title>fixtures</title>
  <description>Allows loading of data sets defined with the BeanBuilder DSL</description>
  <documentation>http://grails.org/Fixtures+Plugin</documentation>
  <resources />
  <dependencies />
</plugin>